/*
!.gitignore
!.Xresources
!.xinitrc
!.zsh_profile
!.zshrc
!.config/
.config/*
!.config/compton.conf
!.config/i3/
!.config/lemonbuddy/
!.config/bspwm/
!.config/sxhkd/
!.config/dunst/
!.config/twmn/
!.scripts/
!.theme/
